@import url("https://fonts.googleapis.com/css2?family=Acme&family=Nerko+One&family=Yellowtail&display=swap");
.create-profile:hover {
  font-size: 17px;
  font-weight: 500;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 150px;
  height: 40px;
}
.create-profile {
  margin-left: 15px;
  font-size: 18.5px;
}
/* .create-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-top: 45px;
} */

.modalbtn:hover {
  margin: auto;
  height: 30px;
  width: 100%;
  border-radius: 0;
}
.modalbtn {
  margin: auto;
  width: 100%;
  font-size: 20px;
  border-radius: 0;
  background-color: blueviolet;
  border: 1px solid blueviolet;
}
.modalbtn:focus {
  height: auto;
  background-color: blueviolet !important;
  border: 1px solid blueviolet;
  outline: none;
  font-size: 20px;
}
.modalbtn:hover {
  height: auto;
  background-color: blueviolet !important;
  border: 1px solid blueviolet;
}

.modalpretitle {
  color: rgb(59, 15, 100);
}

.modalbtninside:hover {
  box-shadow: none;
  border-radius: 10px;
}
.modalbtnsub {
  background-color: rgb(146, 73, 214);
  border: 0;
}
.modalbtnsub:hover {
  background-color: rgb(146, 73, 214);
  border: 0;
}
.modalbtnsub:focus {
  background-color: rgb(146, 73, 214) !important;
  border: 0;
}
.modalbtnclose {
  background-color: rgb(212, 41, 170);
  border: 0;
}
.modalbtnclose:hover {
  background-color: rgb(212, 41, 170);
  border: 0;
}
.modalbtnclose:focus {
  background-color: rgb(212, 41, 170) !important;
  border: 0;
}

/* Edit Profile Settings Page */
.homelog-container {
  font-family: "Acme", sans-serif;
  color: rgb(94, 39, 146);
  margin-top: 10%;
}

.edit-form-btns {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.edit-form-btns,
.modalbtnsub {
  margin-right: -10px;
}
.editprofile-title {
  color: rgb(107, 35, 240);
  font-weight: bolder;
  text-align: center;
  margin-top: 15px;
}
.modalform {
  text-align: center;
  margin-right: 15px;
}

.logged-content {
  display: grid;
  margin-top: 8em;
  grid-template-columns: 50% 50%;
  text-align: center;
  padding-right: 50px;
  height: 200px;
  background-color: rgba(169, 55, 245, 0.281);
  border: 3px solid rgba(156, 25, 243);
  border-bottom: 1px solid rgba(156, 25, 243);
}

.services-intro {
  border-right: 4px solid rgba(156, 25, 243);
  line-height: 49px;
}
.secservices-intro {
  border-left: 4px solid rgb(156, 25, 243);
  line-height: 49px;
}

/* User Main Profile Page */

.prof-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(102, 20, 179);
  color: #fff;
  font-family: "Acme", sans-serif;
  height: 750px;
  width: fit-content;
  margin-top: 35px;
  margin-left: 40%;
  border: 2px solid rgb(84, 29, 187);
}
.prof-txt {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(209, 187, 250);
}
.prof-dyn-txt {
  color: rgb(255, 255, 255);
}
.prof-img {
  height: 350px;
}

.socialicons {
  margin-right: 15px;
  margin-left: 15px;
  width: 25px;
  height: 30px;
}

/* .edit-btn {
  margin: auto;
  margin-top: 10px;
  height: 30px;
  width: 100%;
  border-radius: 0;
}
.edit-btn:hover {
  border-radius: 0;
}
.edit-btn-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.edit-btn-link:hover {
  text-decoration: none;
  color: #fff;
} */
